.container{
    max-width: 1640px;
    padding:  20px ;
    margin: 0 auto;
}
.logo{
    font-size: 28px;
    border: 1px solid rgb(215, 212, 212);
    padding: 5px;
    border-radius: 4px;
}
li{
    list-style-type: none;
    
}
a{
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navlogo{
    cursor: pointer;
}
.nav-list{
    display: flex;
    ul{
        display: flex;
        gap: 40px;
        a{
            color: black;
        }
        a:hover{
            text-decoration: underline;
        }
    }
}
.tel{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar-bottom{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    form{
        border: 1px solid #64B496;
        width: 600px;
        border-radius: 5px;
        height: 45px;
        display: flex;
        justify-content: space-between;
        .search-btn{
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: 20px;
            border-left: 1px solid #64B496;
            padding-left: 20px;
            .search{
                font-size: 20px;
                border: 1px solid  #F53E32;
                background-color: #F53E32;
                padding: 12px;
                border-radius: 5px;
                color: #fff;
            }
        }
        p{
            font-size: 13px;
        }
    input{
        border: none;
        outline: none;
        padding: 15px 10px;
        width: 300px;
    }
}
}
.nb-logo{
    margin-left: -20px;
}
.nb-logos{
    display: flex;
    gap: 20px;
    span{
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

.heart{
    font-size: 24px;
}